@import '../../styles/theme.less';
@import '../../styles/variables.less';

.wx-qrcode {
  .popup-list .am-list-body {
    height: 210px;
    overflow: auto;
  }
}
.modal-content {
  text-align: left;
}
.popup-qrcode {
  .modal-content{
    width: 650px;
    margin: 10px auto;
    padding: 50px 20px 20px 20px;
  }
}

