.intention-page {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 800px;
  margin: 20px;
  background-color: transparent;
}
.page-topic {
  line-height: 50px;
  font-size: 30px;
  color: #000;
  padding: 20px;
  background-color: #fff;
  h1 {
    font-weight: 500;
    font-size: 32px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .red {
    color: red;
  }
  p {
    padding-bottom: 10px;
  }
}
.topic-action {
  margin-top: 20px;
  padding: 20px 20px 50px 20px;
  font-size: 28px;
  background-color: #fff;
  .title {
    font-size: 26px;
    line-height: 80px;
    height: 80px;
    clear: both;
    padding-bottom: 10px;
    overflow: hidden;
    .operate {
      height: 50px;
      float: right;
    }
    .required {
      color: #fa541c;
      display: inline-block;
      padding-right: 5px;
      vertical-align: middle;
      width: 20px;
    }
  }
  .content {
    font-size: 28px;
    padding-left: 18px;
  }
  .tx {
    color: #000;
    font-size: 28px;
  }
  .submit {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .room {
    font-size: 30px;
    min-height: 150px;
  }
  .certification {
    min-height: 150px;
  }
  .signature {
    min-height: 150px;
    .signature-img {
      max-width: 300px;
      border: 1px solid #f4f4f4;
      background-color: #fff;
    }
  }
  .contact-info {
    min-height: 150px;
  }
  .owner {
    min-height: 150px;
  }
  .feedback {
    min-height: 150px;
  }
  .box-warp {
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    margin-bottom: 20px;
    min-height: 150px;
  }
}
.topic-statement {
  margin-top: 20px;
  padding: 20px 20px 50px 20px;
  background-color: #fff;
  .title {
    font-size: 28px;
    font-weight: 500;
  }
  .text {
    font-size: 24px;
    h5 {
      font-size: 26px;
      line-height: 60px;
      font-weight: 500;
    }
    p{
      line-height: 36px;
      padding-bottom: 10px;
    }
    ul li {
      margin-bottom: 10px;
    }
  }
}
.process-description {
  margin-top: 20px;
  padding: 20px 20px 50px 20px;
  background-color: #fff;
  .title {
    font-size: 28px;
    font-weight: 500;
  }
  .text {
    padding: 0px;
  }
}
.topic-unwilling {
  margin-top: 20px;
  padding: 20px;
  font-size: 28px;
  background-color: #fff;
  .check-info {
    text-align: right;
    padding-right: 30px;
    padding-top: 20px;
  }
}
.topic-agree {
  margin-top: 20px;
  padding: 20px;
  font-size: 28px;
  background-color: #fff;
  .check-info {
    text-align: right;
    padding-right: 30px;
    padding-top: 20px;
  }
}
.popup {
  .from {
    padding: 60px 20px 20px 20px;
    background-color: #e6e6e6;
    .item {
      padding: 10px;
      font-size: 32px;
      .label {
        font-size: 32px;
        line-height: 32px;
        padding-bottom: 10px;
        color: #697b8c;
      }
    }
    .input-sms {
      padding: 10;
      clear: both;
      .adm-input-clear {
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
      }
      .adm-input {
        display: inline-block;
        width: 250px;
        vertical-align: middle;
        input {
          width: 180px;
          background-color: #fff;
          vertical-align: middle;
        }
      }
      .sms-send {
        vertical-align: middle;
        display: inline-block;
      }
    }
    .button {
      text-align: center;
      padding-top: 40px;
    }
    .adm-text-area {
      background-color: #fff;
    }
  }
  .input {
    background-color: #fff;
    padding: 10;
  }
}
