.intention-page {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 800px;
  margin: 10px;
  background-color: transparent;
  .tx-right {
    text-align: right;
    line-height: 40px;
  }
}
.page-topic {
  line-height: 50px;
  font-size: 30px;
  color: #000;
  padding: 20px;
  background-color: #fff;
  .tx-center{
    text-align: center;
    padding-bottom: 40px;
    font-weight: 500;
  }
  .tx-right {
    text-align: right;
    line-height: 40px;
  }
  h1 {
    font-weight: 500;
    font-size: 32px;
    padding-bottom: 0px;
    padding-top: 20px;
    text-align: center;
  }
  .red {
    color: red;
  }
  p {
    padding-bottom: 10px;
  }
  .qrcode {
    padding: 20px;
    padding-right: 0;
    text-align: right;
    cursor: pointer;
  }
}
.other-user {
  margin-top: 20px;
  padding: 20px;
  font-size: 26px;
  background-color: #fff;
  color: #d46b08;
  .title {
    font-weight: 600;
    font-size: 28px;
  }
}
.topic-action {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 28px;
  background-color: #fff;
  .adm-collapse-panel-header {
    .adm-list-item-content-main {
      font-weight: 500;
    }
  }
  .title {
    font-size: 26px;
    line-height: 80px;
    min-height: 80px;
    clear: both;
    padding-bottom: 10px;
    span.des {
      font-size: 20px;
    }
    .input {
      display: inline-block;
      padding-left: 100px;
    }
    .operate {
      height: 80px;
      float: right;
    }
    .required {
      color: #fa541c;
      display: inline-block;
      padding: 0 5px 0 0;
      vertical-align: middle;
      width: 20px;
    }
  }
  .content {
    font-size: 28px;
    padding-left: 18px;
  }
  .textarea {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .tx {
    color: #000;
    font-size: 28px;
  }
  .submit {
    display: block;
    padding-top: 40px;
    padding-bottom: 0;
    overflow: hidden;
    clear: both;
    .right {
      float: right;
      width: 40%;
      font-size: 28px;
    }
    .left {
      float: left;
      width: 53%;
      font-size: 28px;
    }
    p{
      font-size: 20px;
      line-height: 32px;
      text-align: right;
      color: #969696;
      padding-top: 10px;
    }
  }
  .check-info {
    text-align: right;
    padding-top: 20px;
    font-size: 28px;
  }
  .signature {
    min-height: 100px;
    .signature-img {
      max-width: 300px;
      border: 1px solid #f4f4f4;
      background-color: #fff;
    }
  }
  .box-warp {
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    margin-bottom: 20px;
    min-height: 100px;
    padding-bottom: 20px;
  }
  .adm-text-area {
    textarea.adm-text-area-element {
      border: 1px solid #f4f4f4;
      padding: 5px;
      border-radius: 8px;
      background: #fff;
      color: #000;
    }
  }
  .action-add {
    margin-top: 20px;
    padding: 20px;
    p {
      font-size: 24px;
      text-align: left;
    }
    .submit {
      .adm-button {
        span {
          font-size: 32px;
          font-weight: 600;
        }
      }
    }
  }
}
.topic-statement {
  margin-top: 20px;
  padding: 20px 20px 50px 20px;
  background-color: #fff;
  .title {
    font-size: 28px;
    font-weight: 500;
  }
  .text {
    font-size: 24px;
    h5 {
      font-size: 26px;
      line-height: 60px;
      font-weight: 500;
    }
    p{
      line-height: 36px;
      padding-bottom: 10px;
    }
    ul li {
      margin-bottom: 10px;
    }
  }
}
.process-description {
  margin-top: 20px;
  padding: 20px 20px 50px 20px;
  background-color: #fff;
  .title {
    font-size: 28px;
    font-weight: 500;
  }
  .text {
    padding: 0px;
  }
}
.topic-agree {
  margin-top: 0;
  font-size: 28px;
  background-color: #fff;
  .check-info {
    text-align: right;
    padding-right: 30px;
    padding-top: 28px;
  }
}
.popup {
  .from {
    padding: 60px 20px 20px 20px;
    background-color: #e6e6e6;
    .item {
      padding: 10px;
      font-size: 32px;
      .label {
        font-size: 32px;
        line-height: 32px;
        padding-bottom: 10px;
        color: #697b8c;
      }
      input.adm-input-element{
        border: 1px solid #f4f4f4;
        padding: 5px;
        border-radius: 8px;
        background: #fff;
      }
    }
    .input-sms {
      padding: 10px;
      clear: both;
      .adm-input-clear {
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
      }
      .adm-input {
        display: inline-block;
        width: 300px;
        vertical-align: middle;
        input {
          width: 200px;
          background-color: #fff;
          vertical-align: middle;
        }
      }
      .sms-send {
        vertical-align: middle;
        display: inline-block;
      }
    }
    .button {
      text-align: center;
      padding-top: 40px;
    }
    p.des {
      font-size: 24px;
      line-height: 32px;
      color: #999;
      padding-bottom: 10px;
    }
    .adm-text-area {
      textarea.adm-text-area-element {
        border: 1px solid #f4f4f4;
        padding: 5px;
        border-radius: 8px;
        background: #fff;
        color: #000;
      }
    }
  }
}
