@import "../../styles/theme";
@import "../../styles/mixin";

.home-page {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: transparent;
  color: @color-text-paragraph;
  margin: 0px 10px 0px 10px;
  .warning-box {
    background-color: #fff;
    height: 200px;
    line-height: 80px;
    font-size: 32px;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    color: #876800;
    font-weight: 500;
  }
  .fixed {
    position: fixed;
    bottom: 0; /* 距离底部为0像素 */
    left: 0; /* 左侧与视口边界对齐 */
    width: 100%; /* 宽度等于视口宽度 */
    z-index: 9;
  }
  .visible {
    visibility: hidden;
  }
  .title {
    height: 32px;
    line-height: 32px;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
  }
  .intention-view {
    margin: 0px;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 20px;
    clear: both;
    .header {
      clear: both;
      h2 {
        font-size: 32px;
        line-height: 60px;
        font-weight: 500;
        display: inline-block;
      }
      .link {
        font-size: 32px;
        height: 60px;
        line-height: 60px;
        text-align: right;
        float: right;
      }
    }
    .content {
      .rate {
        color: #d48806;
        font-size: 48px;
        font-weight: 500;
      }
      .des {
        font-size: 24px;
        span{
          font-size: 32px;
          display: inline-block;
          padding-right: 20px;
        }
      }
    }
    .footer-box {
      font-size: 32px;
      line-height: 30px;
      text-align: right;
    }
  }
}
