.m-signature-pad {
  font-size: 10px;
  width: 100%;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.m-signature-pad--body {
  height: 400px;
  border: 1px solid #f4f4f4;
  background-color: #fff;
}

.m-signature-pad--body canvas {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.m-signature-pad--footer {
  height: 80px;
  padding: 10px;
}


